/* 加入goolge fonts 字体 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  /* background: linear-gradient(to right, #A770EF, #CF8BF3, #FDB99B); */
  /* position: relative; */
}

.NewHome {
  background-color: #A770EF;
}

/* navber */
.container {
  position: absolute;
  z-index: 100;
  left: 85%;

}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right_navbar {
  position: absolute;
  top: 0%;
  left: 85%;
  z-index: 100;


    animation-name: fade;
    animation-duration: 1.5s;
  
}

/* login signup page */



.loginSignup {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to left,yellow,red); */
  background: linear-gradient(to right, #A770EF, #CF8BF3, #FDB99B);

}

.login h3 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  padding: 2rem 0rem;
  text-align: center;
}

.signup h3 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  padding: 2rem 0rem;
  text-align: center;
}

label {
  margin: 0.2rem 0;

  font-family: 'Mukta', sans-serif;
  display: inline-block;
  font-size: 0.7rem;

}

button {
  /* reset button style */
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: pointer;

  margin-top: 1.5rem;
  font-family: 'Source Sans Pro', sans-seri;
  color: aliceblue;
  background-color: #A770EF;
  padding: 0.3rem 1rem;
  border-radius: 5%;

}

.signup button {
  all: unset;
  cursor: pointer;
  margin-top: 1.5rem;
  font-family: 'Source Sans Pro', sans-seri;
  color: aliceblue;
  background-color: #A770EF;
  padding: 0.3rem 1rem;
  border-radius: 5%;

}

.login button {
  all: unset;
  cursor: pointer;
  margin-top: 1.5rem;
  font-family: 'Source Sans Pro', sans-seri;
  color: aliceblue;
  background-color: #A770EF;
  padding: 0.3rem 1rem;
  border-radius: 5%;

}


input {
  all: unset;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px rgb(212, 212, 212) solid;
  border-radius: 5%;
  width: 25rem;
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;

}

.secondLevel input {
  width: 51.5rem;
}

input::placeholder {
  color: rgb(173, 171, 171);
  font-size: 0.8rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.password {
  margin-top: 0.7rem;
}



.video {
  /* 所有影片的style */
  margin: 1rem;
  margin-left: 0;
  border-radius: 5%;
}

/* 分頁左右 */
.wrap {
  /*左右並排1*/
  /* display: flex;
  width: 100%;
  position: relative;
 */

}

.right {
  /*左右並排2*/
  /* 在右邊的必用absolute */
  display: flex;
  justify-content: center;
  right: 0px;
  position: absolute;
  width: 75%;
  padding-left: 3rem;
}

.left {
  /*左右並排2*/
  /* 固定 */
  position: fixed;
  width: 25%;
  height: 100vh;
  /* background: linear-gradient(to bottom, #A770EF, #CF8BF3, #FDB99B); */
  background-color: #caa2ff;
  /* border-right: solid gray 1px; */
}

.rightInner {
  /* margin-left: 2rem; */
}



.Navigation h1 {
  padding: 2rem 1rem;
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;

}

.Navigation p {
  padding: 2rem 1rem;
  font-size: 1rem;
  color: rgb(109, 109, 110);
  font-family: 'Source Sans Pro', sans-serif;
}

.Navigation i {
  margin-right: 1rem;
}

/* 更新 */

.login {

  padding: 5rem 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
}

.signup {

  padding: 5rem 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
}

button:hover {
  /*在上面會改色*/
  background-color: #caa2ff;
}

/* 内頁 */
.fristPage {


  width: 100%;
  height: 100vh;
  background-color: #351d1d;


}

.backImg {

  /* 置中 */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  /* -webkit-filter: brightness(0.2); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("img/pexels-lukas-590037.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
  /* animation-name: fade;
  animation-duration: 2.5s; */

  /* 動畫1.1 */
  /* animation-name: fade;
  animation-duration: 3s; */
}

.fristPageInner h1 {

  font-size: 4rem;
  color: #ffffff;
  /* 動畫1.1 */
  animation-name: fade;
  animation-duration: 1.5s;


}

.fristPageInner p {


  color: #ffffff;
  /* 動畫1.1 */
  animation-name: fade;
  animation-duration: 1.5s;


}

.start {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  animation-name: fade;
  animation-duration: 1.5s;

}

.fristPageInner button {

  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #A770EF
}

/* 動畫1.2 */
@keyframes fade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fromAndStream {
  margin: 2rem 15rem;
  margin-top: 5rem;
  /* background-color: #000000; */
  /* ??? */
}

.fromAndStream h1 {
  color: #ffffff;
}

.intro {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.intro h1 {
  font-size: 3rem;
  color: #3b3b3b;
}

.intro p {
  font-size: 1.5rem;
  color: #585858;
}

.introp {
  margin-top: 2rem;
}

.allStep {
  padding: 1rem 3rem;
  background-color: #ececec;
  /* 並排 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step {



  display: flex;
  /* 垂直並排 */
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0rem 0rem 4rem 0rem;

  background-color: #ffffff;


}

.step1 {
  animation-name: fade;
  animation-duration: 1.5s;
}

.step2 {
  animation-name: fade;
  animation-duration: 2.5s;
}

.step3 {
  animation-name: fade;
  animation-duration: 3.5s;
}

.stepImg1 {
  height: 22rem;
  width: 25rem;
  /* border-radius: 50%; */
  /* -webkit-filter: brightness(0.2); */
  background-image: url("img/pexels-freestocksorg-34407.jpg");
  /* og.jpg */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;

}

.stepImg2 {
  height: 22rem;
  width: 25rem;
  /* border-radius: 50%; */
  /* -webkit-filter: brightness(0.2); */
  background-image: url("img/og.jpg");
  /* og.jpg */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;

}

.stepImg3 {
  height: 22rem;
  width: 25rem;
  /* border-radius: 50%; */
  /* -webkit-filter: brightness(0.2); */
  background-image: url("img/pexels-lukas-590037.jpg");
  /* og.jpg */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;

}

.stepInto {
  /* 置中 */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

}

.stepInto a {
  all: unset;
}

.stepInto p {
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1.5rem;
  color: rgb(10, 20, 65);


}

.stepInto p:hover {
  color: #A770EF;
}

.introDetail {
  margin-top: 1rem;
color: #727272;
}


.create input {
  font-size: 1rem;
  border: 0.1rem solid rgb(184, 183, 183);
  border-radius: 0.3rem;
  margin: 1rem 0;
  margin-right: 0.3rem;
}

.create h3 {
  color: #6d6d74;
}

.twtich h1 {
  color: #9f9f9f;
}

.youtube h1 {
  color: #9f9f9f;
}

.circle {
  /* width: 2rem;
  background-color: #A770EF;
  border-radius: 50%; */
  /* 垂直置中 */
  /* height: 2rem;
  line-height: 2rem;
  margin-right: 0.5rem; */

}

.workout-details {
  margin: 1.5rem 0.5rem;
}

.workout-details p {
  color: #ffffff;
}


.circle p {
  color: #ffffff;
  text-align: center;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto Slab', serif;
}

.block {
  width: 26rem;
  background-color: #e3ceff;
  border-radius: 1rem;
}

.YoutubeDatasBlock {
  /* background-color: #ffa888; */
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.twichDatasBlock {
  /* background-color: #ff8fa9; */
  border-radius: 1rem;
  margin-bottom: 0.5rem;

}

.deleteBlock {
  /* background-color: #e77be3; */
  border-radius: 1rem;
}

.deleteBlock p {
  font-size: 0.3rem;
}

.deleteBlock span {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;

}

.deleteBlock span:hover {

  color: rgb(242, 239, 243);


}

.click {
  text-align: right;
  /* width: 9%;
  padding: 0rem 0.6rem;
  background-color: rgb(131, 131, 131); */
  /* border: black 1px solid; */
  /* border-radius: 0.3rem; */
}

.deleteBlock .blockInner {
  /* 並列 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockInner {
  padding: 0.5rem 1rem;
}

.dataType {
  font-size: 0.2rem;
  width: 16%;
  border-radius: 4rem;
  padding: 0.2rem 0.3rem;
  background-color: #c6c6c6;
}

.dataType p {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.blockData {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.channelName p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}


/* 導行 */
.left h1 {
  text-align: center;
  color: #ffffff;
  transform: scale(1.1, 1);
  letter-spacing: 0.2rem;
}

.left p {
  text-align: center;
  font-size: 1.4rem;
  padding: 2.2rem 30%;
  color: #ffffff;

  font-family: 'Roboto', sans-serif;

}

.left a {
  text-decoration: none;
}

.left p:hover {
  background-color: #ffffff;
  color: #A770EF;

}

.topNavigation {
  position: absolute;
  top: 0;
  z-index: 100;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  /* background-color: #A770EF; */
  margin: 2rem;
  display: none;


    animation-name: fade;
    animation-duration: 1.5s;
  
}

/* body{
width: 100%;
height: 100%;
background-color: #000000;

} */

.BackColorStream {

  height: 250vh;

  z-index: -1;
  background-color: #000000;



}

.BackColorStreamData {
  height: 250vh;

  z-index: -1;
  background-color: #cccccc;


}

.topNavigation p {
  font-size: 1.5rem;
  margin-left: 2.5rem;
  color: #ffffff;
  font-family: 'Urbanist', sans-serif;
}

.topNavigation a {
  text-decoration: none;
}

.topNavigation button {
  /* reset button style */
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;

}

.black {
  background-color: black;
}

.parallelContainer {
  display: flex;
  flex-wrap: wrap;


}

/*  */

.Navigation h1 {
  display: none;
}

.right {
  width: 100%;
}

.Navigation {
  display: none;
}



.topNavigation {

  display: flex;
}

/* 響應式 */
@media(max-width:780px) {
  .loginSignup {
    background: none;
  }


  .Navigation h1 {
    display: none;
  }

  .right {
    width: 100%;
  }

  .Navigation {
    display: none;
  }



  .topNavigation {

    display: flex;
  }
}

/*  */